
$color-background: #ffdbdb;
$color-blue: #2303cf;
$color-white: #fff;

$gutter: 45px;

/* =======================================================
Font Face
======================================================= */
@font-face {
  font-family: 'YoungSerif';
  font-weight: normal;
  src: url('fonts/YoungSerif-Regular.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  src: url('fonts/Graphik-Regular.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: bolder;
  src: url('fonts/Graphik-Medium.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: bold;
  src: url('fonts/Graphik-Semibold.otf');
}

/* =======================================================
Global
======================================================= */

body {
  font-family: 'Graphik';
  font-weight: normal;
  background-color: $color-background;
  margin: 0;
  padding: 0;
}

/* =======================================================
Navigation
======================================================= */

.nav-wrapper {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 45px;
}

.nav-title {
  color: $color-blue;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 5px solid $color-white;
}

/* =======================================================
Hero
======================================================= */

.background-wrapper {
  background: url('../images/image-1.svg') no-repeat center;
  height: 800px;
  width: 100%;
  margin-bottom: $gutter;
}

.content-container {
  display: block;
  padding-top: $gutter * 3.5;
  padding-left: $gutter * 2.5;
}

.hero-header {
  color: $color-white;
  font-size: 144px;
}

.hero-content {
  color: $color-white;
  padding-left: 14px;
  font-size: 30px;
  width: 450px;
}

/* =======================================================
Button
======================================================= */

.button-wrapper {
  text-align: center;
  margin-bottom: $gutter;
  height: 80px;

  button {
    height: 80px;
    width: 240px;
    display: inline-block;
    background: transparent;
  }
}

.accept {
  border: 5px solid $color-blue;
  font-size: 25px;
}

.decline {
  border: 0;
  font-size: 17px;
  transform: translateY(-4px);
}
