/* =======================================================
Font Face
======================================================= */
@font-face {
  font-family: 'YoungSerif';
  font-weight: normal;
  src: url("fonts/YoungSerif-Regular.otf"); }

@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  src: url("fonts/Graphik-Regular.otf"); }

@font-face {
  font-family: 'Graphik';
  font-weight: bolder;
  src: url("fonts/Graphik-Medium.otf"); }

@font-face {
  font-family: 'Graphik';
  font-weight: bold;
  src: url("fonts/Graphik-Semibold.otf"); }

/* =======================================================
Global
======================================================= */
body {
  font-family: 'Graphik';
  font-weight: normal;
  background-color: #ffdbdb;
  margin: 0;
  padding: 0;
  /* Lazy loading images */ }
  body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../images/image-2.svg") url("../images/image-3.svg"); }

/* =======================================================
Utility classes
======================================================= */
@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .hide--mobile {
    display: none; } }

@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
  .hide--tablet {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .hide--desktop {
    display: none; } }

@media screen and (min-width: 46.875em) {
  .display--mobile {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .display--tablet {
    display: none; } }

@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .display--tablet {
    display: none; } }

/* =======================================================
Navigation
======================================================= */
.nav-wrapper {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 45px; }

.nav-title {
  color: #2303cf;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 7px solid #fff; }

/* =======================================================
Hero
======================================================= */
@media screen and (min-width: 61.875em) {
  .background-wrapper {
    background: url("../images/image-1.svg") no-repeat center;
    min-height: 800px;
    width: 100%;
    margin-bottom: 45px; } }

@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
  .background-wrapper {
    background: url("../images/image-1.svg") no-repeat center;
    min-height: 800px;
    width: 100%;
    margin-bottom: 45px; } }

.content-container {
  color: #fff; }
  @media screen and (min-width: 61.875em) {
    .content-container {
      padding-left: 112.5px;
      padding-top: 78.75px; } }
  @media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
    .content-container {
      padding-left: 45px;
      padding-top: 123.75px; } }

.hero-header {
  width: 95%;
  margin-bottom: 0; }
  @media screen and (min-width: 61.875em) {
    .hero-header {
      font-size: 150px; } }
  @media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
    .hero-header {
      font-size: 100px; } }

@media screen and (min-width: 61.875em) {
  .hero-content {
    padding-top: 22.5px;
    padding-left: 14px;
    font-size: 30px;
    width: 40%; } }

@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
  .hero-content {
    padding-top: 101.25px;
    padding-left: 10px;
    font-size: 30px;
    width: 60%; } }

/* =======================================================
Button
======================================================= */
.button-wrapper {
  display: block;
  text-align: center;
  margin-bottom: 45px;
  height: 80px; }
  .button-wrapper button {
    height: 100px;
    display: inline-block;
    background: transparent; }

.accept {
  color: #2303cf;
  width: 290px;
  border: 7px solid #2303cf;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer; }

.decline {
  border: 0;
  width: 290px;
  color: #fff;
  font-size: 25px; }

.not-interested-text {
  cursor: pointer; }
